<form action="/answer" method="get" id="form-qa">
<div>
  <label for="ask">Ask your coach anything :</label>
</div>
<div class="py-2">
  <input id="ask" type="text" placeholder="How are you today ?" name="question">
  <input type="submit" value="Ask!" class="btn-primary rounded">
</div>
</form>
